.container--body {
  padding: 2rem;
}

.container--input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-weight: 700;
}

.container--input:first-of-type {
  margin-bottom: 1rem;
}

.btn--create {
  margin-bottom: 2rem;
}

.btn--delete {
  background-color: rgb(215, 27, 27);
}

.btn--icon--ml {
  margin-left: 0.4rem;
}

.btn--icon {
  margin-right: 0.7rem;
}

.sign--warning {
  font-weight: 700;
}
